h1 {
  font-family: 'Leckerli One', cursive;
  font-size: 3rem;
}

h2 {
  font-family: 'Inder', sans-serif;
  font-size: 1.4rem;
}

body {
  font-family: 'Helvetica', sans-serif;
  font-size: 15px;
  background-color: #DDD;
}

section.content {
  background-color: #EEE;
}

section.books {
  article {
    background-color: #FFF;
  }
}
